.bg-overlay {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: -60px;
    bottom: -100px;
    left: 0;
    right: 0;
    z-index: 0;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(facade.jpg) no-repeat;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    z-index: 0;
}

.ov-hidden {
    overflow: hidden;
}